
         <div class="row">
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">Hakkımda</h1>                      
                        <small>2022'nin Haziran ayında kurulduk.Yeni yola çıkarken her ince ayrıntısına kadar düşündüm.Eğrilerini ve doğrularına kadar.Yazılım dünyası
                            benim içimde kalan kocaman bir ukteydi.Bir yerden başlamam gerektiğini ve nasıl yol kat edeceğimi bir şekilde kafamda doğrulamam gerekiyordu.
                            Hazırlıklarımı yaptım ve içimdeki duygu fırtınalarıyla birlikte yola koyulmaya başladım.Çalıştım çok ama çok çalıştım.Hevesimi kıranlar oldu.
                            her şeyin diplomaya bağlı olduğunu ısıtıp ısıtıp önüme koydular.Ama can dostum , yoldaşım Deniz Yıldırım sayesinde kısa sürede bir o kadar da 
                            yol yürümüş mesafe kat etmiş oldum. Asla ama asla içimdeki inancı kaybetmedim. Çünkü bu işe , bu dünyaya ihtiyacım vardı. Umutlarım her daim
                            yarınlarımın mücadelesini verdi. Zor zamanlardan geçtiğim dönemlerde hep şunun hayalini içimde harladım ; Bir gün bende bir Yazılımcı olacağım !
                            İnanmalıyız dostlar kendimize... Hep klişe bir söz vardır ya hani İnanmak Başarmanın Yarısıdır diye , evet inanç varsa disiplin , disiplin varsa
                            öz veri , öz veri varsada mutlak başarının geleceği kuşkusuz aşikardır sevgili dostlarım. Sağlıcakla ...
                        </small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget lazur-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">Heyacanlıyız !</h1>

                        <h3 class="font-bold no-margins">
                            Son Eklenen Blog
                        </h3>
                        <small>@ViewBag.v1</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget yellw-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">₺ 32758,00</h1>

                        <h3 class="font-bold no-margins">
                            Toplam Kazancımız
                        </h3>
                        <small>Reklamlar , Sponsorluklar , Yayın/Yazar Hakları , İş Birlikleri , Ortak Projeler</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart3"></div>
                    </div>
                </div>
            </div>
        </div>